@media screen and (max-width: 576px) {
  header {
    padding: 20px;
    flex-direction: column;
    gap: 25px;
    box-shadow: none;
    text-align: center;
  }
  .menu-div {
    flex-direction: column;
    gap: 25px;
  }
  .menu-div-c1 ul {
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 20px;
    flex-direction: column;
    gap: 30px;
    box-shadow: none;
    text-align: center;
  }
  .menu-div {
    flex-direction: column;
    gap: 30px;
  }
}
