@media screen and (max-width: 576px) {
  p {
    font-size: 12px;
    font-weight: 400;
  }
  header {
    padding-top: 20px;
    flex-direction: column;
    gap: 25px;
    box-shadow: none;
    /* text-align: center; */
    /* justify-content: center; */
    /* width: 100%; */
  }
  .menu-div {
    flex-direction: column;
    gap: 25px;
  }
  .menu-div-c1 ul {
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
  banner {
    /* padding: 25px; */
    grid-template: 1fr 1fr / 1fr;
    /* text-align: center; */
    /* background-position: top right; */
    background-image: none;
  }
  .description-parent {
    grid-area: 1 /1 /2 /-1;
    text-align: center;
  }
  banner .img-div {
    grid-area: 2 /1 /-1 /-1;
    /* text-align: center; */
    max-width: 100%;
  }

  /* online  game section */
  .online-game {
    padding: 0 10px;
    /* padding: 0 0; */
    margin-top: 200px;
    text-align: center;
  }
  .online-description {
    /* text-align: center; */
    margin-bottom: 30px;
  }
  .online-description h2 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .online-description p {
    font-size: 12px;
  }

  .card-section {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
  }

  .card-item p {
    margin-top: 10px;
  }

  /* play-instantly-description section styles */
  .play-instantly-container {
    padding: 0 0;
    margin-top: 50px;
    flex-direction: column;
  }
  .play-instantly-description {
    text-align: center;
    margin-bottom: 20px;
  }
  .play-instantly-description h3 {
    font-size: 30px;
    text-align: center;
    width: 100%;
  }
  .play-instantly-description p {
    width: 100%;
    text-align-last: center;
    margin-top: 10px;
  }
  .play-instantly-img .img-1 {
    width: 334px;
    height: 350px;
  }
  .play-instantly-img .img-2 {
    left: -45px;
    bottom: -35px;
    width: auto;
    height: 150px;
  }

  /* last section styles */
  .last-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .btn-item {
    display: flex;
    align-items: center;
    padding: 5px 5px;
  }
  .btn-item img {
    height: 30px;
    width: auto;
  }
  .btn-item p {
    font-size: 10px;
  }

  /* last section styles */
  .last-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .btn-item {
    display: flex;
    align-items: center;
    padding: 5px 5px;
  }
  .btn-item img {
    height: 30px;
    width: auto;
  }
  .btn-item p {
    font-size: 10px;
  }

  /* footer section styles */
  footer {
    height: auto;
    background: #0b0223;
    margin-top: 30px;
    color: white;
    padding: 20px 0;
  }
  .foot-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  .foot-logo h2 {
    font-size: 20px;
  }
  .foot-logo img {
    width: 30px;
    height: auto;
  }
  .foot-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  footer ul a {
    color: white;
  }
  .contact ul {
    display: flex;
    justify-content: center;
    margin: 15px 5px;
    font-size: 8px;
  }
  .contact ul a {
    margin-right: 10px;
  }
  .social-icon ul {
    justify-content: space-between;
    width: 20%;
    flex-wrap: wrap;
    font-size: 14px;
    margin: 0 auto;
  }
  .social-icon ul a {
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .polici ul {
    font-size: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    margin: 15px auto;
  }
  .polici ul a {
    margin-bottom: 10px;
  }
  .copyright {
    font-size: 10px;
    margin-top: -15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1160px) {
  header {
    padding: 20px;
    flex-direction: column;
    gap: 30px;
    box-shadow: none;
    text-align: center;
  }
  .menu-div {
    flex-direction: column;
    gap: 30px;
  }

  /* online  game section */
  .online-game {
    padding: 0 10px;
    margin-top: 100px;
    text-align: center;
  }
  .online-description {
    margin-bottom: 30px;
  }
  .online-description h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  /* .online-description p {
    font-size: 18px;
  } */

  .card-section {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card-item p {
    font-size: 15px;
    margin-top: 10px;
  }

  /* play-instantly-description section styles */
  .play-instantly-container {
    padding: 0 100px;
    margin-top: 50px;
    flex-direction: column;
  }
  .play-instantly-description {
    text-align: center;
    margin-bottom: 20px;
  }
  .play-instantly-description h3 {
    font-size: 40px;
    text-align: center;
    width: 100%;
  }
  .play-instantly-description p {
    width: 100%;
    text-align-last: center;
    margin-top: 10px;
  }
  .play-instantly-img .img-1 {
    width: 384px;
    height: auto;
  }
  .play-instantly-img .img-2 {
    left: -55px;
    bottom: -40px;
    width: auto;
    height: 180px;
  }

  /* last section styles */
  .last-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .btn-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }
  .btn-item img {
    height: 40px;
    width: auto;
  }

  /* footer section styles */
  footer {
    height: auto;
    background: #0b0223;
    margin-top: 30px;
    color: white;
    padding: 20px 0;
  }
  .foot-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  .foot-logo h2 {
    font-size: 25px;
  }
  .foot-logo img {
    width: 45px;
    height: auto;
  }
  .foot-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  footer ul a {
    color: white;
  }
  .contact ul {
    display: flex;
    justify-content: center;
    margin: 25px 5px;
    font-size: 15px;
  }
  .contact ul a {
    margin-right: 10px;
  }
  .social-icon ul {
    justify-content: space-between;
    width: 20%;
    flex-wrap: wrap;
    font-size: 14px;
    margin: 0 auto;
  }
  .social-icon ul a {
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .polici ul {
    font-size: 13px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    margin: 15px auto;
  }
  .polici ul a {
    margin-bottom: 10px;
  }
  .copyright {
    font-size: 13px;
    margin-top: -15px;
  }
}
